[submodule "Dependencies/Commands"]
	path = Dependencies/Commands
	url = git@github.com:elegantchaos/Commands
[submodule "Dependencies/Logger"]
	path = Dependencies/Logger
	url = git@github.com:elegantchaos/Logger
[submodule "Dependencies/Icons"]
	path = Dependencies/Icons
	url = git@github.com:elegantchaos/Icons
[submodule "Dependencies/Application"]
	path = Dependencies/Application
	url = git@github.com:elegantchaos/Application
