[submodule "Dependencies/BookishModel"]
	path = Dependencies/BookishModel
	url = https://github.com/elegantchaos/BookishModel.git
[submodule "Dependencies/Ensembles"]
	path = Dependencies/Ensembles
	url = git@github.com:mentalfaculty/ensembles-next.git
[submodule "Dependencies/Sparkle"]
	path = Dependencies/Sparkle
	url = git@github.com:elegantchaos/Sparkle.git
[submodule "Dependencies/Website"]
	path = Dependencies/Website
	url = git@github.com:samdeane/bookish.elegantchaos.com.git
