// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by Sam Deane on 11/01/2021.
//  All code (c) 2021 - present day, Sam Deane.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#include ".rt/RTCatalyst.xcconfig"

RT_VERSION = 1.0.0
RT_PRODUCT_NAME = Bookish Lists
RT_SHORT_NAME = BookishLists
RT_BUNDLE_IDENTIFIER = com.elegantchaos.bookish.lists
RT_TEAM = 2H48644JM2
RT_APP_ICON = AppIcon

IPHONEOS_DEPLOYMENT_TARGET = 15.1

SWIFT_OBJC_BRIDGING_HEADER =

TARGETED_DEVICE_FAMILY = 1,2
ENABLE_PREVIEWS = YES

INFOPLIST_PREFIX_HEADER = Sources/BookishLists/Resources/Info.h
