BOOKISH_ENTITLEMENTS_PATH = Sources/${TARGET_NAME}/Resources/Bookish.entitlements
BOOKISH_INFO_PATH = Sources/${TARGET_NAME}/Resources/Info.plist
BOOKISH_TEST_INFO_PATH = Tests/${TARGET_NAME}/Info.plist
BOOKISH_BRIDGING_HEADER_PATH = Sources/BookishCommon/BookishBridge.h

BOOKISH_TEAM = 2H48644JM2

BOOKISH_NAME = Bookish

BOOKISH_BUNDLE_ROOT = com.elegantchaos.bookish

BOOKISH_DOCUMENT_CLASS = ${PRODUCT_MODULE_NAME}.CollectionDocument

#include "../Dependencies/BookishModel/Configs/BookishModel.xcconfig"
#include "BuildNumber.xcconfig"

BOOKISH_CONFIG = ${CONFIGURATION:lower}

BOOKISH_VERSION = 1.0
BOOKISH_BUILD = ${BUILD_NUMBER}
BOOKISH_COPYRIGHT = Copyright © 2019 Elegant Chaos Limited. All rights reserved.

CURRENT_PROJECT_VERSION = ${BUILD_NUMBER}

SWIFT_VERSION = 5.0
